@model Owner
@{
    ViewData["Title"] = "Tulajdonos Módosítása";
}

<h1>Tulajdonos adatainak módosítása</h1>
<form method="post" action="Update">
    <div class="form-group">
        <label for="">Egyedi azonosító</label>
        <input class="form-control" asp-for="OwnerId" value="@Model.OwnerId" readonly>
    </div>
    <div class="form-group">
        <label for="">Vezetéknév</label>
        <input class="form-control" asp-for="Surname" value="@Model.Surname">
    </div>
    <div class="form-group">
        <label for="">Keresztnév</label>
        <input class="form-control" asp-for="Firstname" value="@Model.Firstname">
    </div>
    <div class="form-group">
        <label for="">Születési Dátum</label>
        <input type="date" class="form-control" asp-for="BirthDate" value="@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToString("yyyy-MM-dd") : "")">
    </div>

    <button type="submit" class="btn btn-primary">Módosítás</button>
    @Html.ActionLink("Mégse", "Index", "Owner")
</form>
